<a href="https://colab.research.google.com/github/KrishnakanthSrikanth/Python_Basics/blob/main/Guided_project_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Chapter 3: Data cleaning exercise

### Sales department performance analysis

The HR department wants to analyze the performance of the employees in the sales department.

### Data Reading
Rachel wrote a text file employee_revenue.txt including all necessary information, but she needs help to extract the necessary information.

Start by uploading the employee_revenue file to the working directory.

ðŸ“Œ Use the .read() method to open the text file in read mode and assign it to the variable "data".

In [7]:
#Open the file in read mode
filee = open("/content/employee_revenue.txt", "r")
data = filee.read()

In [8]:
#Print the data
print(data)

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.
omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.
   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.
Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.
     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.
Bora called 100 people generated 770 dollars last month, his average deal size was 25$.
Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE.
Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size.
 bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.
Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$.
  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

### Data Cleaning

You can see that the data needs to be cleaned and information has to be extracted from these lines. 

To be able to clean the data, you need to separate the text into lines.

ðŸ“Œ Use the .splitlines() method.

In [9]:
#Seperate the data into lines
lines = data.splitlines()
lines

['  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  ',
 'omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.',
 '   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.     ',
 'Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.  ',
 '     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.',
 'Bora called 100 people generated 770 dollars last month, his average deal size was 25$.  ',
 'Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE. ',
 'Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size. ',
 ' bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.',
 'Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$. ',
 '  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.']

### Clean the data line by line

Start to clean the data for the first line.

ðŸ“Œ Use the .strip() method to remove the whitespaces from the edges of the string.

In [10]:
#Take the first line
string = lines[0]
string

'  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  '

In [11]:
#Remove the whitespaces from the edges
string = string.strip(" ")
string

'Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.'

Next, you need to fix the capitalization issues.

ðŸ“Œ Use the .lower() method to convert the text to lowercase.

ðŸ“Œ Then use the .capitalize() method to capitalize the first letter.

In [12]:
#Convert the string to lowercase
string = string.lower()
string

'ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.'

In [13]:
#Capitalize the first character
string = string.capitalize()
string

'Ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.'

### Information Extraction

To extract the information, you need to split the sentence into words. 

ðŸ“Œ Use the .split() method.

In [14]:
#Split the sentece into words
words = string.split()
words

['Ben',
 'made',
 '300',
 'calls',
 'and',
 'generated',
 '2400',
 'dollars',
 'last',
 'month',
 'with',
 'an',
 '8$',
 'average',
 'deal',
 'size.']

You might noticed that the first element in the list is the name and the third element is the number of calls.

ðŸ“Œ Use the indeces to extract the name and number of calls.

In [15]:
#Use the index 0 to access the name element
name = words[0]
name

'Ben'

In [16]:
#Use the index 2 to access the number of calls element
call_number = words[2]
call_number

'300'

So far so good!

But as you can see the sentence order is not the same after the 7th element.

To extract the average deal size you need to come up with a different approach. You can use the "$" sign to find the corresponding element.

ðŸ“Œ Loop over the list to find the element that includes the "$" sign.

ðŸ“Œ Then, use the .split() method to divide the string into the number and the $ sign.

In [20]:
#Find the element with the "$" sign
for i in words:
  #Divide the number from it
  if "$" in i:
#Print the average deal size
    average_deal_size = i.split("$")[0]
average_deal_size

'8'

Similarly, we can use the string "dollars" to extract the revenue, which is the element right before "dollars".

ðŸ“Œ Use the .index() method to identify the index for the "dollars" element.

ðŸ“Œ Then, use this index to specify and extract the revenue.

In [21]:
#Find the index of element "dollars"
dollar_index = words.index("dollars")
dollar_index

7

In [22]:
#Subtract one from the index to identify the index of the revenue element
revenue_index = dollar_index - 1
revenue_index

6

In [23]:
#Extract the revenue
revenue = words[6]
revenue

'2400'

Great! You extracted all necessary information.

ðŸ“Œ Print the information and check the types of the data.

In [27]:
#Print out the extracted information
print("Name:", name)
print("Call Number:", call_number)
print("Average Deal Size:", average_deal_size)
print("Revenue:", revenue)

Name: Ben
Call Number: 300
Average Deal Size: 8
Revenue: 2400

In [28]:
#Check the types
print("Name type:", type(name))
print("Call Number type:", type(call_number))
print("Average Deal Size type:", type(average_deal_size))
print("Revenue type:", type(revenue))

Name type: <class 'str'>
Call Number type: <class 'str'>
Average Deal Size type: <class 'str'>
Revenue type: <class 'str'>

As you can see, we have the type string for all the data, but the average deal size, number of calls, and the revenue need to be integers. 

ðŸ“Œ Convert the data using the int() function and check again.

In [29]:
#Convert the datatypes of average deal size, number of calls, and revenue
average_deal_size = int(average_deal_size)
call_number = int(call_number)
revenue = int(revenue)

In [30]:
#Print out the information again
print("Name type:", type(name))
print("Call Number type:", type(call_number))
print("Average Deal Size type:", type(average_deal_size))
print("Revenue type:", type(revenue))

Name type: <class 'str'>
Call Number type: <class 'int'>
Average Deal Size type: <class 'int'>
Revenue type: <class 'int'>

Now, you need to apply all the methods and functions to the list that contains the different strings of all employees.

ðŸ“Œ Create an empty lists for storing names, number of calls, average deal sizes, and revenues.

ðŸ“Œ Use a for loop to iterate through the list with the whole data.

ðŸ“Œ Print out the necessary information.

In [38]:
#Create empty lists for the names, number of calls, average deal sizes, revenues
names = []
call_numbers = []
average_deal_sizes = []
revenues = []

In [39]:
#Loop over the whole data
for line in lines:

    #Clean the string
  line = line.strip(" ")
  line = line.lower()
  line = line.capitalize()

   #Split the clean string
  split_line = line.split(" ") 
    
    #Extract the name
  name = split_line[0]
  call_number = split_line[2]

    #Extract the average deal size
  for i in split_line:
    if "$" in i:
      average_deal_size = i
  average_deal_size = average_deal_size.split("$")[0]

    #Extract the revenue
  dollar_index = split_line.index("dollars")
  revenue_index = dollar_index - 1
  revenue = split_line[revenue_index]

    #Convert to the correct data types
  call_number = int(call_number)
  average_deal_size = int(average_deal_size)
  revenue = int(revenue)
    #Append the information to the lists
  names.append(name)
  call_numbers.append(call_number)
  average_deal_sizes.append(average_deal_size)
  revenues.append(revenue)


#Print out the information
print("Name list:", names)
print("Call Number list:", call_numbers)
print("Average Deal Sizes list:", average_deal_sizes)
print("Revenue list:", revenues)

Name list: ['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude']
Call Number list: [300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
Average Deal Sizes list: [8, 6, 24, 32, 5, 25, 25, 40, 15, 10, 12]
Revenue list: [2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]

Finally, you can make the process even easier and reusable by defining functions.

ðŸ“Œ Define the function "clean_extract".

ðŸ“Œ Use the retured values by assigning them to variables.

In [40]:
#Create empty lists again
names = []
call_numbers = []
average_deal_sizes = []
revenues = []

In [41]:
#Define a function to clean and extract the data
def clean_extract_data(lines):

  for line in lines:

    #Clean the string
    line = line.strip(" ")
    line = line.lower()
    line = line.capitalize()

   #Split the clean string
    split_line = line.split(" ") 
    
    #Extract the name
    name = split_line[0]
    call_number = split_line[2]

    #Extract the average deal size
    for i in split_line:
      if "$" in i:
        average_deal_size = i
    average_deal_size = average_deal_size.split("$")[0]

    #Extract the revenue
    dollar_index = split_line.index("dollars")
    revenue_index = dollar_index - 1
    revenue = split_line[revenue_index]

    #Convert to the correct data types
    call_number = int(call_number)
    average_deal_size = int(average_deal_size)
    revenue = int(revenue)
    #Append the information to the lists
    names.append(name)
    call_numbers.append(call_number)
    average_deal_sizes.append(average_deal_size)
    revenues.append(revenue)
    
  return names, call_numbers, average_deal_sizes, revenues

In [42]:
#Assign returned values to variables
names, call_numbers, average_deal_sizes, revenues = clean_extract_data(lines)

In [43]:
#Print out the information
print("Name list:", names)
print("Call Number list:", call_numbers)
print("Average Deal Sizes list:", average_deal_sizes)
print("Revenue list:", revenues)

Name list: ['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude']
Call Number list: [300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
Average Deal Sizes list: [8, 6, 24, 32, 5, 25, 25, 40, 15, 10, 12]
Revenue list: [2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]

### Performance Analysis Report

Now that you cleaned the string and extracted all the information using the function, you can create performance analysis report for the last month.

ðŸ“Œ Assign IDs to each employee.

ðŸ“Œ Create dictionaries.

ðŸ“Œ Sort the dictionaries.

First, check how many employees there are and assign the IDs.

ðŸ“Œ Use the len() and range() function.

In [44]:
#Check the number of employees
print(len(names))

11

In [46]:
#Generate IDs
Id = range(0,11)

In [47]:
#Check the number of IDs
print(len(Id))

11

With the IDs ready, you need to assign the IDs to the employees.

ðŸ“Œ Use the zip() function to pair the employee with the ID.

ðŸ“Œ Convert the zip object into a dictionary.

In [48]:
#Pair the names with the IDs in a dictionary
dict1 = dict(zip(Id, names))
dict1

{0: 'Ben',
 1: 'Omer',
 2: 'Karen',
 3: 'Celine',
 4: 'Sue',
 5: 'Bora',
 6: 'Rose',
 7: 'Ellen',
 8: 'Bob',
 9: 'Taylor,',
 10: 'Jude'}

Similarly, create a dictionary for the  employees and their revenues.

In [63]:
#Pair the names with the revenues
dict2 = dict(zip(names, revenues))
dict2

{'Ben': 2400,
 'Bob': 800,
 'Bora': 770,
 'Celine': 2275,
 'Ellen': 6000,
 'Jude': 500,
 'Karen': 12000,
 'Omer': 60,
 'Rose': 4000,
 'Sue': 500,
 'Taylor,': 1200}

Finally, you need to find the employees with the best and lowest performance.

ðŸ“Œ Sort the dictionary using the sorted() function in ascending and descending order.

In [66]:
#Find the lowest performing employees (ascending order)
dict2_sorted = sorted(dict2)[0:5]
for i in dict2_sorted:
  print(i, dict2[i])

Ben 2400
Bob 800
Bora 770
Celine 2275
Ellen 6000

In [67]:
#Find the best performing employees (descending order)
dict2_sorted_desc = sorted(dict2, reverse = True)[0:5]

for i in dict2_sorted_desc:
  print(i, dict2[i])

Taylor, 1200
Sue 500
Rose 4000
Omer 60
Karen 12000